body{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

/* Homepage section */

.custom-shape-divider-bottom-1607963206 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1607963206 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 164px;
}

.custom-shape-divider-bottom-1607963206 .shape-fill {
    fill:white;
}

#homepage{
    background-color: #D0866C;;
    position: relative;
    max-width: 125vw;
    padding: 10px 10px 0px 20px;
}

.main{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.main-right {
    float: right;
    margin-top: 0px !important;
    order:1;
}
.main-right img{
    max-width: 100%;
    height: 300px;
    margin-top:0px;
    margin-right:100px;
    box-shadow: 20px -20px 0px #F8EAC3;
    margin-bottom: 100px;
}

.main-left{
    justify-content: center;
    display:block;
    width: 40%;
}
.main-left button{
    border-radius:20px;
    background-color:#FFF1CD;
    cursor: pointer;
    border: solid transparent;
    font-size: 1em;
    text-align: center;
}

.main-left button:focus{ 
    outline: none; 
}

.main-left button:hover{
    background-color: white;
    border-color: white;
}

/* About-Us Section */
#about-us {
    padding-bottom: 80px;
    padding-right:30px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-around;
}


.leftside img{
    width: 80%;
    padding-left: 80px;
    padding-top: 100px;
}

.rightside img{
    max-width:70%;
    padding-bottom:20px;
}

.rightside {
    margin-top:80px;
    padding:80px 15px;
    width: 40%;
}

.rightside p{
    font-family: "montserrat";
    font-size: 0.7em;
    line-height: 1.5;
    text-align: justify;
}
/* Menu Section */

.menu{
    background-color: #DFB06B;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.MENU{
    display: flex;
    flex-direction: row; 
    min-height: 500px;
    width:100%;
    overflow: hidden;
    justify-content: space-around;
    padding-top: 80px;   
}

#menu1{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
#menu1 img{
    position: absolute;
    top: -5%;
    width:250px;
    justify-content: center;
    align-items: center;
}

.judul{
    background-color:#FFFFFF ;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
    align-items: center;
    text-align: center;
}

.judul .teks{
    line-height: 10px;
    padding-top: 20px;
}

.judul img,
.box img{
    height:200px;
    width: 250px;
    position: relative;
}

.box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    align-items: center;
    text-align: center;
    z-index: 1;
    background: #F2E2B9;
    height: 350px;
    width: 300px;
    color:black;
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
}

.box .text-img{
    padding:10px 10px;
    font-size:0.8em;

}
.judul:hover .box{
    visibility: visible;
    opacity: 100%;
    transition: 0.5s;
    transform: scale(1.2);   
}


/* Testimoni Section */

#testimoni{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main2{
    margin-top: 50px;
}

.main2 img{
    max-width: 60%;
}
.main2 h1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main2 h1:before, 
.main2 h1:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid #000; 
    margin: auto; 
} 

.container{
    overflow: hidden;
}

.container ul{
    padding: 0px;
    margin: 0px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.container ul li{
    border-radius: 25px;
    list-style: none;
    float: left;
    width: 250px;
    height: 300px;
    background: #FFE4AE;
    margin: 20px 0;
    box-shadow: 10px 10px 7px 0px #aaa;
}

.container ul li .title{
    font-family: "Montserrat";
    font-weight: 800;
    font-size: large;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #eddcd2 ;
    text-align: center;
}
.container ul li .komentar{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 35px;
    background: #FFE4AE ;
    text-align: center;
    padding: 10px 10px;
}

/* Contact Section */

#contact{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background:#fff;
    box-shadow: 0px 0px 10px 0px #aaa;
}

.map{
    width: 100%;
    height: auto;
    flex:50%;
}
.contact-form{
    width: 100%;
    height: auto;
    flex:50%;
    padding:30px;
    text-align: center;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contact-form h1{
    margin-bottom: 10px;
}
.contact-form-txt{
    width:100%;
    height:40px;
    color: #000;
    border: 1px solid #EFB35B;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder,
.contact-form-txtarea::placeholder{
color: #aaaaaa
}

.contact-form-txtarea{
    width:100%;
    height:130px;
    color: #000;
    border: 1px solid #EFB35B;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: "montserrat";
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background:#EFB35B;
    color:#fff;
    text-transform: uppercase;
    padding:10px 0;
    cursor: pointer;
    font-size:18px;
}

/* Footer Section */

footer{
    width: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #D0866C;
    color: black;
    height: 50px;
}

h2{ 
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-around;
    align-items: center;
}

h2 a{
    font-family: "Montserrat";
    color: black;
    font-size:15px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
}

@media (max-width:750px){
    #homepage{
        height: 100vh;
        position: relative;
    }

    .main{
        flex-wrap: wrap;
    }
    .main-right img{
        margin:20px auto;
        padding:0 0;
    }
    .main-left{
        width: 100%;
        order:1;
    }

    .main-left button{
        display: none;
    }

    .main-left h1{
        font-size: 2rem !important;
        width: 80%;
        text-align: center;
        margin:10px auto;
    }

    #about-us{
        display: flex;
        flex-direction: column;
        margin:0px;
        padding:0px !important;
    }

    .rightside{
        width: 100%;
        padding: 30px 15px;
        margin-bottom: 30px;
        /* border: 1px solid green; */
    }

    .rightside img{
        max-width:30%;
        /* border:1px solid blue; */
    }

    .MENU,
    .container ul
    {
        display: flex;
        flex-direction:column;
        align-items: center;
        align-content: space-around;
    }

    .judul{
        margin-bottom:20px
    }
    #menu1 img{
        top: -3%;
    }
}

@media (max-width:991px){
    #navbarNavAltMarkup {
        position: absolute;
        z-index: 1;
        background-color:#D0866C;
        width: 95%;
        padding-right:100px;
        margin-top:150px;
    }
}